<%= image_tag asset_path('okiraku.png'), width: '100%' %>

<div style="width: 500px;">
  <h1 style="color: #6594e0; border-bottom: dashed 2px #6594e0; margin: 20px;">このアプリの概要</h1>
</div>
<p style="margin: 20px; font-size: 20px;">　このアプリは嬉しいこと、楽しいことが何かわからない人が、自分の嬉しいこと、楽しいことがこれだ！と言えるようになるための手助けをするアプリです。</p>
<div style="width: 500px;">
  <h1 style="color: #6594e0; border-bottom: dashed 2px #6594e0; margin: 20px;">このアプリの対象者</h1>
</div>
<div class="row">
  <div class="col-5">
    <p style="margin: 20px; font-size: 20px;">　このアプリの使用を推奨するかについて、右のフロー図で確認してください。<br>　自分の投稿を通じての自分の喜び、楽しみの洗い出しと、分析機能による投稿へのフィードバックができます。<br>　フロー図のチェックで該当した方は楽しみ、喜びを見つけることで人生がより充実したものになると思います。</p>
  </div>
  <div class="col-7">
    <%= image_tag asset_path('question.png'), width: '100%' %>
  </div>
</div>
<div style="width: 500px;">
  <h1 style="color: #6594e0; border-bottom: dashed 2px #6594e0; margin: 20px;">このアプリの使い方</h1>
</div>
<div style="margin: 20px;">
  <ul>
    <li style="font-size: 20px;">嬉しかったこと、楽しかったことを投稿する（特にラベルが重要なためラベルを多めにつけると良い）</li>
    <li style="font-size: 20px;">ラベルについて、追加が可能なため、つけたいラベルを適宜追加する</li>
    <li style="font-size: 20px;">他の人の投稿に対して、良いと思ったものをお気に入りにする</li>
    <li style="font-size: 20px;">ある程度投稿が溜まってきたら、「自分の投稿」にある「分析」を押し、分析結果を見る</li>
    <li style="font-size: 20px;">分析結果を見た上で、自分が何を嬉しいや楽しいと思うのかを考えてみる</li>
  </ul>
</div>



