<h1 class="mt-3"><%= @user.name %>さんの分析</h1>
<p class="mt-2">投稿やお気に入りのラベル情報のグラフです。<%= @user.name %>さんの喜びや楽しみの傾向がわかります。</p> 
<div class="mt-2">
  <%= high_chart("my_chart1", @chart1) %>
</div>
<div class="mt-2">
  <%= high_chart("my_chart2", @chart2) %>
</div>